<style type="text/css">
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td {
	    padding: 5px;
	    text-align: left;
	}
</style>
<div ng-controller="playersController as playersCtrl">
	<form>
		Name: <input type='text' ng-model='playersCtrl.newPlayer.name'>
		<input type='submit' value ='Add Player' ng-click='playersCtrl.addPlayer()'>
	</form>	

	<table>
	  <tr>
	    <th>Name</th>
	    <th>Actions</th>
	  </tr>
	  <tr ng-repeat='player in playersCtrl.players'>
        <td>{{player.name}}</td>
        <td><button ng-click='playersCtrl.removePlayer()'>Remove Player</button></td>
	  </tr>
	</table>
</div>
